/**
* This injects Tailwind's base styles, which is a combination of
* Normalize.css and some additional base styles.
*
* You can see the styles here:
* https://github.com/tailwindcss/tailwindcss/blob/master/css/base.css
*
* If using `postcss-import`, use this import instead:
*
* @import "tailwindcss/base";
*/
@tailwind base;

/**
* This injects any component classes registered by plugins.
*
* If using `postcss-import`, use this import instead:
*
* @import "tailwindcss/components";
*/
@tailwind components;

/**
* Here you would add any of your custom component classes; stuff that you'd
* want loaded *before* the utilities so that the utilities could still
* override them.
*
* Example:
*
* .btn { ... }
* .form-input { ... }
*
* Or if using a preprocessor or `postcss-import`:
*
* @import "components/buttons";
* @import "components/forms";
*/

/**
* This injects all of Tailwind's utility classes, generated based on your
* config file.
*
* If using `postcss-import`, use this import instead:
*
* @import "tailwindcss/utilities";
*/
@tailwind utilities;

/**
* Here you would add any custom utilities you need that don't come out of the
* box with Tailwind.
*
* Example :
*
* .bg-pattern-graph-paper { ... }
* .skew-45 { ... }
*
* Or if using a preprocessor or `postcss-import`:
*
* @import "utilities/background-patterns";
* @import "utilities/skew-transforms";
*/

h1 {
	@apply text-4xl text-bright-red-100 mb-4 tracking-widest;
}

h2 {
	@apply text-2xl mb-3 font-bold text-bright-red-100 uppercase tracking-widest;
}

h2::before {
	content: '– ';
}

a h2::before {
	content: '';
}

a h2 {
	@apply text-black-100;
}

* + h2 {
	@apply mt-4;
}

h3 {
	@apply text-xl mb-2 font-bold tracking-wider;
}

* + h3 {
	@apply mt-3;
}

h4 {
	@apply text-lg mb-1 font-bold tracking-wide;
}

p + h4 {
	@apply mt-2;
}

p + p {
	@apply mt-1;
}

.top-left {
	clip-path: polygon(40px 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%, 0% 100%, 0% 100%, 0% 40px);
}

.bottom-right {
	clip-path: polygon(
		0% 0%,
		100% 0%,
		100% 0%,
		100% calc(100% - 40px),
		calc(100% - 40px) 100%,
		0% 100%,
		0% 50%,
		0% 100%
	);
}

:root {
	background: linear-gradient(
		to right,
		theme('colors.gray.40'),
		theme('colors.gray.20') 50%,
		theme('colors.gray.40')
	);
}

.sscsLogo {
	max-width: 350px;
}

.card {
	@apply flex flex-wrap items-center justify-center bg-black-20 paper;
	outline: 0px solid theme('colors.bright-red.40');
	transition-duration: 250ms;
}

.card:hover {
	outline-width: 5px;
	border-radius: 0px;
	transition-duration: 250ms;
}

.card > section {
	@apply m-4;
	flex: 2;
	min-width: 20em;
}

.card > .gatsby-image-wrapper {
	@apply shadow-lg rounded-lg object-cover flex-1;
	max-width: 700px;
	max-height: 300px;
	height: 100%;
	min-width: 10em;
}

.paper {
	@apply rounded-lg m-4 shadow-xl;
}
.rich-text ol {
	list-style-type: decimal;
}

.rich-text ul {
	list-style-type: disc;
}

.rich-text ol,
.rich-text ul {
	list-style-position: inside;
}
#about {
	background-position: center;
	background-repeat: repeat-y;
	background-size: 100vw;
}
