.circuitry {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
#indexScene {
	@apply flex flex-col justify-center text-center circuitry;
	min-height: 70vh;
}
#indexScene h2 {
	@apply text-4xl;
}
#indexScene h2::after {
	content: ' –';
}
#indexScene p {
	@apply text-black-80 text-xl;
}
#indexMaterial > *:hover {
	outline-width: 5px;
	border-radius: 0px;
	transition-duration: 250ms;
}
