footer nav > * {
	@apply inline-block m-2;
}
footer nav img {
	width: 25px;
	height: 25px;
}
#ieeeLinks {
	/* md:pl-48 adds the padding only on large enough screens */
	@apply bg-black-100 text-white text-sm p-2 list-none;
}

#ieeeLinks ol {
	@apply inline mx-2;
}

#ieeeLinks ol:first-child {
	@apply ml-0;
}

#ieeeLinks ol > a:hover {
	@apply underline;
}

@screen md {
	#ieeeLinks {
		@apply pl-48;
	}
}

/* Picks all <ol>'s except first one, as it doesn't have an <ol> before it.*/
#ieeeLinks > ol ~ ol::before {
	content: '|';
}
#footerIcons a svg {
	background-color: #fff;
	color: theme('colors.dark-red.100');
	width: 21px;
	height: 21px;
	padding: 4px;
	border-radius: 20%;
	transition: all 0.2s ease-in-out;
	opacity: 0.8;
}
#footerIcons a svg:hover {
	transform: scale(1.2);
	opacity: 1;
}
#menu {
	@apply text-lg text-black-100;
}
#menu > * {
	@apply block mt-4 mr-0 font-bold text-center;
}
#menu a {
	border-bottom: 4px solid transparent;
	transition: all 0.4s ease-in-out;
}
#menu a:hover {
	border-bottom: 4px solid theme('colors.bright-red.100');
}
#menu .active {
	color: theme('colors.bright-red.100');
}
@screen lg {
	#menu {
		@apply mr-8;
	}
	#menu > * {
		@apply inline-block mt-0 mr-8;
	}
}
@screen xl {
	#menu {
		@apply text-2xl;
	}
}
